body {
  background-color: #E6EBF2;
  font-family: Tienne, "Roboto", Arial, sans-serif;
}

.required {
  color: red;
}

.fraction {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  margin-left: 8px;
}

.fraction .numerator {
  font-size: 16px;
  transform: translateY(-0.2em);
}

.fraction .slash {
  font-size: 18px;
  transform: skewX(-50deg);
  margin: -0.25em 0;
}

.fraction .denominator {
  font-size: 16px;
  transform: translateY(0.3em);
}

input, select {
  padding: 12px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #dadce0;
  outline: none;
  background: transparent;
  transition: border-color 0.2s;
}

input:focus, select:focus {
  border-bottom: 2px solid #3B76EC;
}

.loadingIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.spinner div {
    position: absolute;
    width: 4px;
    height: 8px;
    background: blue;
    border-radius: 4px;
    animation: spin 1.2s linear infinite;
    /* transform-origin: 20px center; */
}

.spinner div:nth-child(1) { transform: rotate(0deg) translateY(-10px); animation-delay: 0s; }
.spinner div:nth-child(2) { transform: rotate(45deg) translateY(-10px); animation-delay: 0.1s; }
.spinner div:nth-child(3) { transform: rotate(90deg) translateY(-10px); animation-delay: 0.3s; }
.spinner div:nth-child(4) { transform: rotate(135deg) translateY(-10px); animation-delay: 0.4s; }
.spinner div:nth-child(5) { transform: rotate(180deg) translateY(-10px); animation-delay: 0.5s; }
.spinner div:nth-child(6) { transform: rotate(225deg) translateY(-10px); animation-delay: 0.6s; }
.spinner div:nth-child(7) { transform: rotate(270deg) translateY(-10px); animation-delay: 0.7s; }
.spinner div:nth-child(8) { transform: rotate(315deg) translateY(-10px); animation-delay: 0.8s; }

@keyframes spin {
    0% { opacity: 1; }
    100% { opacity: 0.1; }
}